@model IEnumerable<Categoria>

<div class="row">
    <div class="col-md-10 offset-md-1">
        <h1>Categorias 
        -
        <a class="btn btn-dark" asp-action="Criar">
            Cadastrar
        </a>
        </h1>

        <div class="col-12 my-2">
            <input class="form-control" type="text" name="nome" id="nome" placeholder="Buscar ator ou atriz... " />
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ações</th>
                    <th>@Html.DisplayNameFor(model => model.Nome)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var categoria in Model)
                {

                <tr>
                    <td>
                        <div class="d-flex flex-column">
                            <a class="btn btn-success" asp-action="Atualizar" asp-route-id="@categoria.Id">
                                <i class="fa-solid fa-pen-to-square"></i>
                                Editar
                            </a>

                            <a class="btn btn-primary mt-1" asp-action="Detalhes" asp-route-id="@categoria.Id">
                                <i class="fa-solid fa-eye"></i>
                                Ver
                            </a>

                            <a class="btn btn-danger mt-1" asp-action="Deletar" asp-route-id="@categoria.Id">
                                <i class="fa-solid fa-trash-can"></i>
                                Excluir
                            </a>
                        </div>
                    </td>
                    <td class="align-middle">
                    <td class="align-middle">@categoria.Nome</td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>