@model IEnumerable<Filme>

@{
    ViewData["Title"] = "Lista de Filmes";
}

@*@Html.Partial("_NovoItem", "Filme")*@
@*<partial name="_NovoItem" model="nameof(Filme)"/>*@

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Titulo
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a asp-action="Detalhes" asp-route-id="@item.Id"><img src="@item.ImageURL" width="100%" alt="@item.Titulo"></a>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text"><b>Estréia: </b>@item.DataLancamento.ToString("dd MMM yy")</p>
                            <p class="card-text"><b>Até: </b>@item.DataEncerramento.ToString("dd MMM yy")</p>
                            <p class="card-text ">
                                <b>Situação: </b>
                                @if (DateTime.Now >= item.DataLancamento && DateTime.Now <= item.DataEncerramento)
                                {
                                    <span class="badge bg-success text-white">DISPONÍVEL</span>
                                }
                                else if (DateTime.Now > item.DataEncerramento)
                                {
                                    <span class="badge bg-danger text-white"><i class="fa-solid fa-hourglass"></i> EXPIRADO</span>
                                }
                                else
                                {
                                    <span class="badge bg-primary text-white">AGUARDANDO</span>
                                }
                            </p>

                        </div>
                    </div>                    
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                    <a class="btn btn-outline-primary float-right center" asp-action="Detalhes" asp-route-id="@item.Id">
                                        <i class="fa-solid fa-eye"></i> Detalhes
                                    </a>
                                @*
                                <a class="btn btn-success text-white @((DateTime.Now > item.DataEncerramento) ? "disabled" : "")"
                                   asp-controller="Pedidos"
                                   asp-action="AdicionarCarrinho"
                                   asp-route-id="@item.Id">
                                    <i class="fa-solid fa-cart-arrow-down"></i> Adicionar (@item.Preco.ToString("c"))
                                </a>
                                *@
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>